# Fuente de datos SEPA
SEPA_BASE_URL=

# Base DuckDB
DUCKDB_PATH=data/processed/precios_diarios.duckdb

# PostgreSQL opcional
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=precios_diarios
POSTGRES_USER=usuario
POSTGRES_PASSWORD=contraseña
